*{
    box-sizing: content-box;
}
body{
    background-image: url("https://lh3.googleusercontent.com/pw/ADCreHdH_PwrGnVHElJgJU0NrjVtIf25d1c0RcLb2rYK3aG0OrWSEtckeTp_4z8FnCzlxMpnuNcS2KPjN92Mu6EIU07hNISOsbUrJ1MKLEVxaArK8SHCgTY=w2400");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.topnav {
    position: relative;
    background-color:rgb(255, 0, 0);
    top:0vh;
    background-size: cover;
    color: white;
    text-align: center;
    border-radius: 10px;
}
#logo{
    text-align: center;
    height: 50px;
    width:200px;
    padding-right: 0px;
    position:inherit;
}
.home{
    padding-bottom: 9px;
    text-align: center;
    background-color: red;
    position: absolute;
    top: 1.5%;
    height: 38px;
    right: 10%;
    width: 51px;
    cursor: pointer;
    padding-left: 0;
}

.topnav a{   
    text-decoration: none;
}
span{
    color: white;
}

.feedback{
    text-align: right;
    background-color:red;
    height: 30px;
    width:20px;
    cursor:pointer;
    position: absolute;
    top: 1.5%;
    height: 28px;
    right: 5%;
    width: 51px;
}
#feedback{
    background-color: red;
    height: 25px;
}
#welcome{
    font-size: 50px;
    color: white;
    /* margin: auto; */
    position: relative;
    text-align: center;
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content{
    margin-top: 334px;
    margin-left: 1182px;
   
}
.content a{
    text-decoration: none;
    font-size: 31px;
    border: 2px solid red;
    background-color: white;
    color: red;
    height: 50px;
    width:250px;
    text-align: center;
    padding: 10px 10px;
    border-radius: 90px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content a:hover{
    background-color: red;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1::before
{
    content:attr(data-text);
    position: absolute;
    color: rgb(255, 0, 0);
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 4px solid white; */
    
    animation: animate 7s linear infinite;
    filter: drop-shadow(0 0 20px rgb(164, 63, 63))drop-shadow(0 0 50px white);
} 
@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width:61%;
    }

}
