body{
    background-image: url("https://minio.production.cloudplatform.tech/wp-guru-guides-uploads/2022/12/9-11-Student-Portfolio-Website-Examples.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
section{
    background-image: url("https://minio.production.cloudplatform.tech/wp-guru-guides-uploads/2022/12/1-11-Student-Portfolio-Website-Examples.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    border: 2px solid black;
    width: 87vw;
    height: 290vh;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 144px;
    padding-top: 71px;
}
#info .active{
    filter:blur(15px);
    pointer-events: none;
    user-select: none;
}
.popup .active{
    visibility: visible;
}
#popuptext {
    /* position: fixed;
    top: 40%;
    left: 50%;
     transform: translate(-50%, -50%); */
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    border: 2px solid white;
    background-color: #fff;
    transition: 0.5s;
}
.popup {
 position: relative;
 display: inline-block;
 -webkit-user-select: none;
}

.topnav {
    position: relative;
    background-color:rgb(255, 0, 0);
    top:0vh;
    background-size: cover;
    color: white;
    text-align: center;
    border-radius: 10px;
}
#logo{
    text-align: center;
    height: 50px;
    width:200px;
    padding-right: 0px;
    position:inherit;
}
.home{
    padding-bottom: 9px;
    text-align: center;
    background-color: red;
    position: absolute;
    top: 12px;
    height: 26px;
    right: 10%;
    width: 51px;
    cursor: pointer;

    padding-left: 0;
}

.topnav a{   
    text-decoration: none;
}
span{
    color: white;
}

.feedback{
    text-align: right;
    background-color: red;
    height: 30px;
    width: 20px;
    cursor: pointer;
    position: absolute;
    top: 13px;
    height: -5px;
    right: 5%;
    width: 50px;
}
#feedback{
    background-color: red;
    height: 25px;
}
.mentors{
    display: flex;
}
.mentor1{
 margin-left: auto;
 text-align: center;
}
#mentor {
    border: 1px solid black;
    height: 236px;
    width: 236px;
    border-radius: 50%;
}
.mentor2{
    margin-top: 0px;
    margin-right: auto;
    text-align: center;
    padding-left: 48px;
}
a{
    text-decoration: none;
    color:black;
    font-size: 20px;
}
.students{
    display:flex;
    margin-top: 56px;
    flex-direction: row;
}
.students2{
    display:flex;
    text-align: center;
}
.student{
    display:flex;
    margin-top: 0px;
    margin-right: auto;
    text-align: center;
    padding-left: 48px;
}
#student{
    display:flex;
    border: 1px solid black;
    height: 236px;
    width: 236px;
    border-radius: 50%;
}